{% extends "layout.html" %}
{% block content %}
<div class="p-3 position-relative" id="main" style="height: calc(100vh - 49px); overflow-y: scroll">
	<img src="{{ url_for('static', filename='/img/Solstice.png') }}" height=65 class="mb-5">
	<div class="float-right mt-3 pe-3 rounded-pill custom-border" id="account-switcher" style="height: 32px;"><a href="me" class="link-inherit">
		<img src="{{ url_for('static', filename='img/pfp/' + current_user.pfp) }}" height="30px" class="rounded-circle">
		<p class="d-inline-block mt-1 ms-1" style="vertical-align: top">{% if current_user.name %}{{ current_user.name }}{% else %}@{{ current_user.username }}{% endif %}</p></a>
	</div>
	<!-- Charities -->
	<h1 class="my-3">Charities</h1>
	<div class="container-fluid pb-5">
		<div class="row">
			<div class="col-12 bg-danger rounded mb-3">
				<h3 class="text-white mt-5">Red Cross</h3>
			</div>
			<div class="col-12 bg-success rounded">
				<h3 class="text-white mt-5">ADRA</h3>
			</div>
		</div>
	</div>
	<!-- Projects -->
	<a href="projects" class="link-inherit"><h1 class="my-3">Projects</h1></a>
	{% for project in projects %}
	<div class="card mb-3" style="border: solid 1px #ddd;">
		<div class="card-body">
			<div class="row">
				<div class="col-auto">
					<a href="user/{{ project.nick }}" class="link-inherit">
					<img src="{{ url_for('static', filename='img/pfp/' + project.project_uploader.pfp) }}" height="44px" class="rounded-circle float-left"></a>
				</div>
				<div class="col-auto ps-0">
					<a href="user/{{ project.nick }}" class="link-inherit"><p class="my-2"><b>{% if project.project_uploader.name %}{{ project.project_uploader.name }}{% if project.project_uploader.verified %}<img src="/static/img/svg/patch-check-fill.svg" height="18" class="ms-2 verified">{% endif %}<span class="ms-3 fw-normal" style="color: #aaa">@{{ project.project_uploader.username }}</span>{% else %}@{{ project.project_uploader.username }}{% endif %}</b></p></a>
				</div>
			</div>
			<small class="card-text my-2 d-block">{{ project.content }}</small>
			<div class="row">
				<div class="col-5">
					<img src="/static/img/svg/chevron-up.svg" height="16" ontouchstart="alert('hi')">
					<small class="mx-1">{{ project.score }}</small>
					<img src="/static/img/svg/chevron-down.svg" height="16" ontouchstart="alert('hi')">
				</div>
				<div class="col-4">
					<a href="{{ url_for('project', project_id=project.id) }}" class="link-inherit">
					<img src="/static/img/svg/chat-left-text.svg" height="16">
					<small class="ms-1">{{ project.replies }}</small></a>
				</div>
				<div class="col-3">
					<img src="/static/img/svg/box-arrow-up-right.svg" height="20" class="pb-1">
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	<!-- Topics -->
	<h1 class="mt-5 mb-3">Topics</h1>
	<div id="topics" class="pe-3">
		{% for topic in topics %}
		<div class="ps-3 d-inline-block" style="width: 240px">
			<div class="card border-0 w-100 shadow mb-5" style="border: solid 1px #ddd;">
				<div class="card-body">
					<h4 class="card-title fw-normal mb-3">{{ topic.nick }}</h4>
					<button type="button" class="btn btn-custom rounded-pill py-1 px-3">+ FOLLOW</button>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<!-- Fact of The Day -->
	<h1 class="my-3">Fact of the Day</h1>
	<div class="w-100 mb-5 p-2 rounded bg-warning shadow-sm">
		<p class="m-0">On Good Friday in 1930, the BBC reported, “There is no news.” Instead, they played piano music.</p>
	</div>
	<!-- Forums -->
	<a href="forums" class="link-inherit"><h1 class="mb-3">Forums</h1></a>

	{% for post in forums %}
	<div class="forum">
		<img src="{{ post.pfp }}" height="24px" class="rounded-circle me-2"><small class="my-2"><b>{{ post.nick }}</b><span class="badge bg-{{ post.dir_c}} text-light ms-2 align-middle rounded-pill px-2">{{ post.dir }}</span></small>
		<p class="my-2">{{ post.content }}</p>
		<div class="row">
			<div class="col-4">
				<img src="/static/img/svg/chevron-up.svg" height="16">
				<small class="mx-1">{{ post.score }}</small>
				<img src="/static/img/svg/chevron-down.svg" height="16">
			</div>
			<div class="col-4">
				<a href="post/{{ post.id }}" class="link-inherit">
				<img src="/static/img/svg/chat-left-text.svg" height="16">
				<small class="ms-1">{{ post.replies }}</small></a>
			</div>
			<div class="col-4">
				<img src="/static/img/svg/envelope.svg" height="16">
			</div>
		</div>
	</div>
	<div class="forum mt-4 mb-5" style="margin-left: 32px;">
		<img src="{{ post.pfp }}" height="24px" class="rounded-circle me-2"><small class="my-2"><b>{{ post.nick2 }}</b></small>
		<p class="my-2">{{ post.content2 }}</p>
		<div class="row">
			<div class="col-auto">
				<img src="/static/img/svg/chevron-up.svg" height="16">
				<small class="mx-1">{{ post.score2 }}</small>
				<img src="/static/img/svg/chevron-down.svg" height="16">
				<img src="/static/img/svg/check-all.svg" height="16" class="ms-4">
			</div>
		</div>
	</div>
	{% endfor%}
	<p class="text-muted text-center">&copy; 2021 Solstice</p>
</div>
{% endblock content %}



{% block footer %}
<div class="col">
	<a href="/" ontouchstart="click()"><img src="/static/img/svg/house-door-fill.svg" class="mx-auto d-block" height="24"></a>
</div>
<div class="col">
	<a href="/search" ontouchstart="click()"><img src="/static/img/svg/search.svg" class="mx-auto d-block" height="22"></a>
</div>
<div class="col">
	<img src="/static/img/svg/plus-circle-dotted.svg" class="mx-auto d-block" height="24">
</div>
<div class="col">
	<img src="/static/img/svg/lightning.svg" class="mx-auto d-block" height="24">
</div>
<div class="col">
	<img src="/static/img/svg/envelope.svg" class="mx-auto d-block" height="24">
</div>
{% endblock footer %}
